[submodule "ramyshalaby/odoo-15"]
	path = ramyshalaby/odoo-15
	url = git@github.com:ramyshalaby/odoo-15.git
	branch = master

[submodule "SamAndaluz/norpac"]
	path = SamAndaluz/norpac
	url = git@github.com:SamAndaluz/norpac.git
	branch = stg4Nov21datos
